@{
    ViewData["Title"] = "Rules";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Find information about the rules <a href="https://wwbm.com/rules">WWTBAM - US Version</a></p>
</div>